<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969797282152-uhhkuks1k4oldta8cti0u6crhu9bvdm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969797282152-uhhkuks1k4oldta8cti0u6crhu9bvdm8</string>
	<key>API_KEY</key>
	<string>AIzaSyB0C0K0Y3xAtQFwFxN2CUHSU2iY8BM-Jq4</string>
	<key>GCM_SENDER_ID</key>
	<string>969797282152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.georgian.sandeepsingh.EdmontonXplore</string>
	<key>PROJECT_ID</key>
	<string>edmontonxplore</string>
	<key>STORAGE_BUCKET</key>
	<string>edmontonxplore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969797282152:ios:e9bb3da0b0caee546e8edd</string>
</dict>
</plist>